.adminNavItemCollapsedContent {
	box-sizing: border-box;
	background-color: #455160;
}

.adminNavItemCollapsedContent_item {
	display: flex;
	position: relative;
	font-size: 14px;
	padding: 8px 4px;
}

.adminNavItemCollapsedContent_item:nth-child(1) {
	margin-top: 0;
}

.adminNavItemCollapsedContent_item > a {
	width: 100%;
	display: block;
	margin-left: 8px;
	color: #e9f5ff !important;
}

.adminNavItemCollapsedContent_item:hover > a {
	text-decoration: none;
}
