.adminNavItem {
	display: flex;
	color: $secondary;
	padding: 8px;
	font-weight: 500;
	border-radius: 2px;
}

.adminNavItem:hover {
	cursor: pointer;
	color: $info;
	background-color: #e9f5ff;

	@include transition(background-color .2s, color .2s);
}

.adminNavItem_icon {
	margin-right: 32px;
}

.adminNavItem_collapsed {
	width: 100%;
}

.adminNavItem_collapsedLabel {
	display: flex;
}
