.adminNavItemCollapsedContent {
	padding: 4px 0 0 0;
	box-sizing: border-box;
}

.adminNavItemCollapsedContent_item {
	display: flex;
	position: relative;
	font-size: 14px;
	margin: 8px -4px;
	padding: 4px;
	@include transition(margin-left .3s);
}

.adminNavItemCollapsedContent_itemIcon {
	position: absolute;
	left: -8px;
}

.adminNavItemCollapsedContent_item:nth-child(1) {
	margin-top: 0;
}

.adminNavItemCollapsedContent_item > a {
	width: 100%;
	display: block;
}

.adminNavItemCollapsedContent_item:hover  {
	@include transition(margin-left .3s);
	margin-left: 16px;

	.adminNavItemCollapsedContent_itemIcon {
		left: -16px;
	}
}

