.adminNavItem_link{
	display: flex;
	color: #e9f5ff;
	padding: 16px 8px 16px 8px;
	font-weight: 400;
	line-height: 1.5;
}

a.adminNavItem_link:active,
a.adminNavItem_link:visited {
	color: #e9f5ff !important;
}

.adminNavItem_link:hover {
	cursor: pointer;
	color: #e9f5ff;
	background-color: #33cabb;
	text-decoration: none;

	a {
		color: #e9f5ff;

	}

	@include transition(background-color .2s, color .2s);
}

.adminNavItem_collapsed {
	width: 100%;
}

.adminNavItem_activeLink {
	color: #e9f5ff !important;
	background-color: #33cabb;
}

.adminNavItem_collapsedLabel {
	display: flex;
}
