.adminNavItem {
	a {
		text-decoration: none !important;
	}
}

a {
	.adminNavItem_content:active,
	.adminNavItem_content:visited {
		color: $text_light !important;
	}
}

.adminNavItem_content {
	display: flex;
	align-items: center;
	color: $text_light;
	padding: 8px 16px;
	font-weight: 400;
	line-height: 1.5;
	justify-content: space-between;
}

.adminNavItem_content:hover {
	cursor: pointer;
	color: $text_light;
	background-color: #394250;
}

.adminNavItem_activeLink {
	.adminNavItem_content {
		background-color: #33cabb;
	}

	.adminNavItem_content_navItemIcon {
		background-color: #53d2c5
	}
}

.adminNavItem_content_navItemIcon {
	display: flex;
	align-items: center;
	background-color: #3b4553;
	width: 40px;
	height: 40px;
	font-size: 16px;

	svg {
		margin: 0 auto;
	}
}
