.dropdownItem {
	padding: 8px 1em 8px 1em;
	word-spacing: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.dropdownItem:hover {
	background-color: $light;
	cursor: pointer;
}

.dropdownItem_placeholder {
	word-spacing: normal;
	font-style: italic;
	color: #abb6bf;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
