.dropdownItem {
	padding: 8px .5em 8px 1em;
	word-spacing: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.dropdownItem:hover {
	background-color: $light;
	cursor: pointer;
}

.dropdownItem_value {
	word-spacing: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


.dropdownItem_placeholder {
	font-style: italic;
	color: $disabled;
}

.dropdownItem__selected:before {
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #33cabb;
	position: absolute;
	left: 6px;
	top: 15px;
}

.dropdownItem__checkBox {
	margin-right: 8px;
}

.dropdownItem__multiSelect {
	display: flex;
	align-items: center;
}
