.adminNavItem {
	display: flex;
	color: $secondary;
	padding: 8px;
	font-weight: 500;
}

.adminNavItem:hover {
	cursor: pointer;
	color: $info;
	background-color: #E3F2FD;

	@include transition(background-color .2s);
}

.adminNavItem_icon {
	margin-right: 32px;
}

.adminNavItem_collapsed {
	width: 100%;
}

.adminNavItem_collapsedLabel {
	display: flex;
}
