.category_list {
	padding-bottom: 16px;
	min-height: 87vh;
}

.category_item:hover {
	@include hover-focus {
		background-color: $light;
	}
}

.category_item {
	line-height: 3.3em;
	border-bottom: 1px solid $secondary;
	padding: 0 12px;
	box-sizing: border-box;
}

.category_item__collapseContent {
	border-left: 3px solid;
	margin-left: 12px;
	position: relative;
}

.category_item__collapseContentBadge {
	height: 40px;
	display: block;
	top: -21px;
	left: -3px;
	position: absolute;
	border-left: 3px solid;
}

.category_item__collapseContentBadgeOpen {
	width: 3px;
	height: 3px;
	border-radius: 100%;
	display: block;
	top: -27px;
	position: absolute;
	left: -3px;
}

.category_label {
	padding-left: 12px;
	position: relative;
}

.category_badge {
	width: 5px;
	height: 5px;
	padding: 0;
	border-radius: 100%;
	border: 2px solid;
	position: absolute;
	top: calc(50% - 5px);
	left: -3px;
}
