.dropdown {
	width: 250px;
	margin: 0 auto;
}

.dropdown_selectArea {
	border-radius: .375rem;
	height: auto;
	padding: .5rem 2.5rem .5rem 1rem;
	font-size: .95rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #becad6;
	font-weight: 300;
	box-shadow: none;
	position: relative;
	cursor: pointer;
}

.dropdown_icon {
	position: absolute;
	right: 10px;
	top: 14px;
}
