.badge {
	@include bg-color($secondary, 5%);

	padding: 2px 4px;
	border-radius: 2px;
	font-size: 12px;
	max-width: 150px;
	border: 1px solid $secondary;
}

.badge_primary {
	@include bg-color($primary, 5%);

	border: 1px solid $primary;
	color: $light;
}

.badge_success {
	@include bg-color($success, 5%);

	border: 1px solid $success;
	color: $light;
}

.badge_info {
	@include bg-color($info, 5%);

	border: 1px solid $info;
	color: $light;
}

.badge_warning {
	@include bg-color($warning, 5%);

	border: 1px solid $warning;
}

.badge_danger {
	@include bg-color($danger, 5%);

	border: 1px solid $danger;
	color: $light;
}
