$primary: #33cabb;
$secondary: #e4e7ea;
$success: #15c377;
$info: #48b0f7;
$warning: #faa64b;
$danger: #f96868;
$light: #f9fafb;
$dark: #465161;
$purple: #926dde;
$pink: #f96197;
$cyan: #57c7d4;
$default: #ffffff;
$grey: #868e96;
$disabled: #bdc1c5;

$text_light: #e9f5ff;

$primary_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25);
$secondary_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(90,97,105,.25);
$success_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(90,97,105,.25);
$info_shadow:  0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,184,216,.25);
$warning_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(255,180,0,.25);
$danger_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(196,24,60,.25);
$light_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(233,236,239,.25);
$dark_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(33,37,41,.25);

$fieldIcon: #abb6bf;

$metro_background: #f5f6fa;

//bg-colors
$layout_section_bg: #fcfdfe;
$information_layout_section_bg: #f7f7f7;
$collapse_content_bg_dark: #455160;
