.padding_tiny {
  padding: 8px;
}

.padding_small {
  padding: 16px;
}

.padding_normal {
  padding: 24px;
}

.padding_large {
  padding: 32px;
}

.padding_vrTiny {
  padding: 8px 0 8px 0;
}

.padding_hrTiny {
  padding: 0 8px 0 8px;
}

.padding_tTiny {
  padding-top: 8px;
}

.padding_rTiny {
  padding-right: 8px;
}

.padding_bTiny {
  padding-bottom: 8px;
}

.padding_lTiny {
  padding-left: 8px;
}
