.collapser {
	width: 100%;
	position: relative;
}

.collapser_header {
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

.collapser_content {
	-moz-transition: height .3s;
	-o-transition: height .3s;
	-webkit-transition: height .3s;
	transition: height .3s;
	overflow: hidden;
}
