.collapse {
	width: 100%;
	position: relative;
}

.collapse_header {
	display: flex;
	cursor: pointer;
	justify-content: space-between;
	align-items: center;
}

.collapse_content {
	display: none;
}

.collapse_contentTransition {
	-moz-transition: height .3s;
	-o-transition: height .3s;
	-webkit-transition: height .3s;
	transition: height .3s;
	overflow: hidden;
}
