.adminNavigationListItem {
	a {
		text-decoration: none !important;
	}
}

a {
	.adminNavigationListItem_content:active,
	.adminNavigationListItem_content:visited {
		color: $text_light !important;
	}
}

.adminNavigationListItem_content {
	display: flex;
	align-items: center;
	color: $text_light;
	padding: 8px 16px;
	font-weight: 400;
	line-height: 1.5;
	justify-content: space-between;
}

.adminNavigationListItem_content:hover {
	cursor: pointer;
	color: $text_light;
	background-color: #394250;
}

.adminNavigationListItem_activeLink {
	.adminNavigationListItem_content {
		background-color: $primary;
	}

	.adminNavigationListItem_content_navItemIcon {
		background-color: #53d2c5
	}
}

.adminNavigationListItem_content_navItemIcon {
	display: flex;
	align-items: center;
	background-color: #3b4553;
	width: 40px;
	height: 40px;
	font-size: 16px;
	justify-content: center;

	svg {
		margin: 0 auto;
	}
}

.adminNavigationListItem_hasActiveChild.adminNavigationListItem_content {
	background-color: $primary;
}

.adminNavigationListItem_hasActiveChild {
	.adminNavigationListItem_content_navItemIcon {
		background-color: $primary;
	}
}

.adminNavigationListItem_content_iconWrapper {
	display: flex;
	align-items: center;
}

.adminNavigationListItem_collapsedIcon {
	font-size: 14px;
	margin-right: 16px;

	@include transition(transform .3s);
}

.adminNavigationListItem_collapsedIcon__open {
	@include rotate(90)
}

.adminNavigationListItem_collapsedLabel {
	display: flex;
}
