.datePicker {
	width: 100%;
	border: none;
	padding: .4rem 0 .4rem 1rem;
}

.datePicker__wrapper {
	position: relative;
}

.datePicker__icon {
	position: absolute;
	top: 7px;
	right: 10px;
	cursor: pointer;
}
