.padding_tiny {
	padding: 8px;
}

.padding_small {
	padding: 16px;
}

.padding_normal {
	padding: 24px;
}

.padding_large {
	padding: 32px;
}

.padding_ultraVrTiny {
	padding-top: 4px;
	padding-bottom: 4px;
}

.padding_ultraHrTiny {
	padding-left: 4px;
	padding-right: 4px;
}

.padding_ultraTTiny {
	padding-top: 4px;
}

.padding_ultraRTiny {
	padding-right: 4px;
}

.padding_ultraBTiny {
	padding-bottom: 4px;
}

.padding_ultraLTiny {
	padding-left: 4px;
}

.padding_vrTiny {
	padding-top: 8px;
	padding-bottom: 8px;
}

.padding_hrTiny {
	padding-right: 8px;
	padding-left: 8px;
}

.padding_tTiny {
	padding-top: 8px;
}

.padding_rTiny {
	padding-right: 8px;
}

.padding_bTiny {
	padding-bottom: 8px;
}

.padding_lTiny {
	padding-left: 8px;
}

.padding_vrSmall {
	padding-top: 16px;
	padding-bottom: 16px;
}

.padding_hrSmall {
	padding-right: 16px;
	padding-left: 16px;
}

.padding_tSmall {
	padding-top: 16px;
}

.padding_rSmall {
	padding-right: 16px;
}

.padding_bSmall {
	padding-bottom: 16px;
}

.padding_lSmall {
	padding-left: 16px;
}

.padding_vrNormal {
	padding-top: 24px;
	padding-bottom: 24px;
}

.padding_hrNormal {
	padding-left: 24px;
	padding-right: 24px;
}

.padding_tNormal {
	padding-top: 24px;
}

.padding_rNormal {
	padding-right: 24px;
}

.padding_bNormal {
	padding-bottom: 24px;
}

.padding_lNormal {
	padding-left: 24px;
}

.padding_vrLarge {
	padding-top: 32px;
	padding-bottom: 32px;
}

.padding_hrLarge {
	padding-left: 32px;
	padding-right: 32px;
}

.padding_tLarge {
	padding-top: 32px;
}

.padding_rLarge {
	padding-right: 32px;
}

.padding_bLarge {
	padding-bottom: 32px;
}

.padding_lLarge {
	padding-left: 32px;
}
