.adminNavigationCollapsedProfile {
	display: flex;
	align-items: center;
	background-color: $purple;
	height: 60px;
}

.adminNavigationCollapsedProfile_userLogo {
	width: 40px;
	height: 40px;
	display: block;
	cursor: pointer;
	border-radius: 20px;
}
