.adminNavigationProfile {
	display: flex;
	align-items: center;
	background-color: $purple;
	height: 60px;
}

.adminNavigationProfile_userLogo {
	display: block;
	width: 40px;
	border-radius: 20px;
	height: 40px;

}

.adminNavigationProfile_userNameWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 8px;
	width: 100%;

	@include hover-focus {
		cursor: pointer;
	}
}

.adminNavigationProfile_userName {
	font-size: 1em;
	max-width: 125px;
	color: $text_light;
}

.adminNavigationProfile_icon {
	color: $text_light;

	@include transition(transform .3s);
}

.adminNavigationProfile_iconIsOpen {
	@include rotate(90)
}
