.typography_32 {
	font-size: 2em;
}

.typography_24 {
	font-size: 1.5em;
}

.typography_16 {
	font-size: 1em;
}

.typography_14 {
	font-size: 0.875em;
}

.typography_12 {
	font-size: .75em;
}

.typography_8 {
	font-size: .5em;
}

.typography_displayBlock {
	display: block;
}

.typography_bold200 {
	font-weight: 200;
}

.typography_bold300 {
	font-weight: 300;
}

.typography_bold400 {
	font-weight: 400;
}

.typography_bold500 {
	font-weight: 500;
}

.typography_bold600 {
	font-weight: 600;
}

.typography_bold700 {
	font-weight: 700;
}

.typography_bold800 {
	font-weight: 800;
}
