.adminControlHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: $bottom_shadow;
	margin-bottom: 24px;
	margin-left: 2px;
	background-color: $metro_background;
}
