.adminNavProfile {

}

.adminNavProfile_userLogo {
	display: block;
	width: 40px;
	border-radius: 20px;
	height: 40px;
}

.adminNavProfile_collapser {
	margin-top: 16px;
}

.adminNavProfile_collapserContent {
	padding: 16px 0 16px 0;
}

.adminNavProfile_userName {
	font-size: 1em;
	font-weight: bold;
}

