$primary: #0067F4;
$secondary: #5A6169;
$success: #17C671;
$info: #00B8D8;
$warning: #FFB400;
$danger: #C4183C;
$light: #E9ECEF;
$dark: #212529;

$primary_button: #007bff;
$secondary_button: #6c757d;
$success_button: #28a745;
$info_button: #17a2b8;
$warning_button: #ffc107;
$danger_button: #dc3545;
$light_button: #f8f9fa;
$dark_button: #343a40;

$primary_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25);
$secondary_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(90,97,105,.25);
$success_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(90,97,105,.25);
$info_shadow:  0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,184,216,.25);
$warning_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(255,180,0,.25);
$danger_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(196,24,60,.25);
$light_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(233,236,239,.25);
$dark_shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(33,37,41,.25);

$border: #E5E5E5;
$fieldIcon: #abb6bf;
