.category {

}

.category_list {
	margin: 0 12px 12px 12px;
	border-radius: 2px;
	background-color: $metro_background;
	box-shadow: $all_shadow;
	min-height: 500px;
}

.category_item:hover {
	@include hover-focus {
		background-color: darken($metro_background, 10%) !important;
	}
}

.category_item .category_item {
	padding-left: 24px;
}
