.category_list {
	@include control-content-wrapper
}

.category_item:hover {
	@include hover-focus {
		background-color: $light;
	}
}

.category_item {
	line-height: 3.3em;
	border-bottom: 1px solid #dee2e6;
	padding: 0 12px;
	box-sizing: border-box;
}

.category_item__collapseContent {
	border-left: 3px solid;
	margin-left: 12px;
}

.category_label {
	padding-left: 12px;
	position: relative;
}

.category_badge {
	width: 5px;
	height: 5px;
	padding: 0;
	border-radius: 100%;
	border: 2px solid;
	position: absolute;
	top: calc(50% - 5px);
	left: -3px;
}

.category_badgeProcess {
	width: 3px;
	height: 22px;
	position: absolute;
	bottom: -2px;
	left: 0px;
}
