.adminNavigationListItemCollapseContent {
	background-color: $collapse_content_bg_dark;
	overflow: hidden;

	@include transition(height .3s, padding .3s);
}

.adminNavigationListItemCollapseContent_item {
	display: flex;
	position: relative;
	font-size: 14px;
	align-items: center;
}

.adminNavigationListItemCollapseContent_itemContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.adminNavigationListItemCollapseContent_itemIcon {
	width: 8px;
	height: 8px;
	border-radius: 10px;
	border: 1px solid $text_light;
	box-sizing: border-box;

	@include transition(background-color .2s, border-color  .2s)
}

.adminNavigationListItemCollapseContent_item:hover {
	.adminNavigationListItemCollapseContent_itemIcon {
		border-color: $primary;
		background-color: $primary;
	}
}

.adminNavigationListItemCollapseContent_itemLink {
	width: 100%;
	display: block;
	color: $text_light !important;
	padding: 12px 16px;
	border-radius: 2px;

	@include transition(background-color .2s);
	@include hover-focus {
		background-color: lighten($dark, 5%);
	}
}

.adminNavigationListItemCollapseContent_activeLink {
	.adminNavigationListItemCollapseContent_itemIcon {
		border-color: #33cabb;
		background-color: #33cabb;
	}
}
