.formFieldBox {

}

.formFieldBox_label {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 4px;
}

.formFieldBox_required {
	margin-left: 2px;
	color: $danger;
}

.formFieldBox_fieldWrapper {
	border-radius: 2px;
	border: 1px solid $secondary;
	box-shadow: none;
}

.formFieldBox_fieldWrapper__hasError {
	border-color: $danger;
}
