.formFieldBox {

}

.formFieldBox_labelWrapper {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 4px;
	display: flex;
}

.formFieldBox_required {
	margin-left: 2px;
	color: $danger;
}

.formFieldBox_fieldWrapper {
	border-radius: 2px;
	border: 1px solid $secondary;
	box-shadow: none;
	position: relative;
}

.formFieldBox_tooltip {
	margin-left: 4px;
}

.formFieldBox_fieldWrapper__hasError {
	border-color: $danger;
}

.formFieldBox_ErrorTooltip {
	position: absolute;
	right: -7px;
	top: -10px;
	z-index: 1;
}
