.formFieldBox {

}

.formFieldBox_labelWrapper {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 4px;
	display: flex;
}

.formFieldBox_label {
	margin-right: 4px;
}

.formFieldBox_required {
	margin-left: 2px;
	color: $danger;
}

.formFieldBox_fieldWrapper {
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 0px 1px $secondary;
	-moz-box-shadow: 0px 0px 0px 1px $secondary;
	box-shadow: 0px 0px 0px 1px $secondary;
}

.formFieldBox_fieldWrapper__hasError {
	border-color: $danger;
}
