.tooltipAction {
	padding: 8px 10px;
	cursor: pointer;
	border-radius: 50%;
}

.tooltipAction_icon {
	width: 4px;
	height: 4px;
	background-color: $grey;
	border-radius: 50%;
	position: relative;
}

.tooltipAction_icon:before,
.tooltipAction_icon:after {
	content: '';
	width: 4px;
	height: 4px;
	position: absolute;
	background-color: $grey;
	border-radius: 50%;
}

.tooltipAction_icon:before {
	top: -6px;
}

.tooltipAction_icon:after {
	bottom: -6px;
}
