.adminControl {
	flex: 1 1 auto;
	background-color: $metro_background;
	margin-left: 260px;
}

.adminControl_primaryNavigationCollapsed {
	margin-left: 60px;
}

.adminControl_inCollapseProgress {
	@include transition(margin-left .3s ease-in)
}
