.button {
	padding: 12px 16px;
	border-radius: 3px;
	cursor: pointer;
	box-sizing: border-box;
	color: $light;
	position: relative;
	height: 40px;
	text-align: center;

	@include transition(background-color .3s, box-shadow .3s, color .3s);
}

.button_primary {
	@include bg-color($primary, $hover: true);
}

.button_primary__transparent {
	color: $primary;
	@include border ($primary);

	@include hover_focus {
		color: $light;
		@include bg-color($primary);
	};
}

.button_secondary {
	color: $dark;
	@include bg-color($secondary);

	@include hover_focus {
		color: $dark;
		@include bg-color(darken($secondary, 10%));
	};
}

.button_secondary__transparent {
	color: $dark;
	@include border ($secondary);

	@include hover_focus {
		color: $dark;
		@include bg-color($secondary);
	};
}

.button_success {
	@include bg-color($success, $hover: true);
}

.button_success__transparent {
	color: $success;
	@include border ($success);

	@include hover_focus {
		color: $light;
		@include bg-color($success);
	};
}

.button_danger {
	@include bg-color($danger, $hover: true);
 }

.button_danger__transparent {
	color: $danger;
	@include border ($danger);

	@include hover_focus {
		color: $light;
		@include bg-color($danger);
	};
}

.button_warning {
	@include bg-color($warning, $hover: true);
	color: $dark;
}

.button_warning__transparent {
	color: $warning;
	@include border ($warning);

	@include hover_focus {
		color: $dark;
		@include bg-color($warning);
	};
}

.button_info {
	@include bg-color($info, $hover: true);
}

.button_info__transparent {
	color: $info;
	@include border ($info);

	@include hover_focus {
		color: $light;
		@include bg-color($info);
	};
}

.button_light {
	@include bg-color($light, $hover: true);
	color: $dark;
}

.button_light__transparent {
	color: $dark;
	@include border ($light);

	@include hover_focus {
		color: $dark;
		@include bg-color($light);
	};
}

.button_dark {
	@include bg-color($dark, $hover: true);
}

.button_dark__transparent {
	color: $dark;
	@include border ($dark);

	@include hover_focus {
		color: $light;
		@include bg-color($dark);
	};
}
