//Tiny
.button_size__tiny.button_onlyIcon  {
	height: 16px;
}

.button_size__tiny.button_icon {
	width: 16px;
	height: 16px;
}

//Normal
.button_size__normal.button_onlyIcon  {
	height: 32px;
}

.button_size__normal.button_icon {
	width: 16px;
	height: 16px;
}

//Large
.button_size__large.button_onlyIcon {
	height: 40px;
}

.button_size__large.button_icon {
	width: 26px;
	height: 26px;
}
