//Tiny
.button_size__tiny.button_onlyIcon  {
	max-height: 30px;
}

.button_size__tiny.button_icon {
	width: 16px;
	height: 16px;
}

//Normal
.button_size__normal.button_onlyIcon {
	max-height: 40px;
}

.button_size__normal.button_icon {
	width: 26px;
	height: 26px;
}
