.adminNavigationProfile_collapser {
	background-color: $collapse_content_bg_dark;
	overflow: hidden;

	@include transition(height .3s, padding .3s);
}

.adminNavigationProfileICollapseContent_item {
	padding: 4px 0;

	a {
		color: $text_light !important;
	}

	@include hover-focus {
		cursor: pointer;

		.adminNavigationProfileICollapseContent_itemIcon  {
			border-color: #33cabb;
			background-color: #33cabb;
		}
	}
}

.adminNavigationProfileICollapseContent_itemContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.adminNavigationProfileICollapseContent_item:last-child {
	margin-bottom: 0;
}

.adminNavigationProfileICollapseContent_itemIcon {
	width: 8px;
	height: 8px;
	border-radius: 10px;
	border: 1px solid $text_light;
	box-sizing: border-box;

	@include transition(background-color .2s, border-color  .2s)
}

.adminNavigationProfileICollapseContent_itemActiveLink {
	.adminNavigationProfileICollapseContent_itemIcon  {
		border-color: #33cabb;
		background-color: #33cabb;
	}
}
