.modalContent {
	flex: 1 1 auto;
	max-height: 400px;
	overflow: hidden;
	overflow-y: scroll;
	padding: 16px;
}

.modalContent::-webkit-scrollbar {
	width: 4px;
	margin-right: 4px;
	height: 50px;
}

.modalContent::-webkit-scrollbar-thumb {
	background-color: #becad6;
}
