
.categoryItem_detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.categoryItem {
	line-height: 3.15em;
	border-bottom: 1px solid $secondary;
	padding: 0 4px 0 12px;
	box-sizing: border-box;
}

.categoryItem_labelSection, .categoryItem_actionSection {
	display: flex;
	position: relative;
}

.categoryItem_labelBadge {
	width: 2px;
	position: absolute;
}

.categoryItem_collapseButton,
.categoryItem_editButton,
.categoryItem_deleteButton {
	cursor: pointer;
	border-radius: 50%;

	@include hover-focus {
		background-color: $secondary;
	}
}

.categoryItem_editButton {
	margin-left: 4px;
	padding: 5px;
}

.categoryItem_deleteButton {
	margin-left: 4px;
	padding: 5px;
	color: $danger;
}


.categoryItem_subCategoryItem > .category_item:last-child {
	border-bottom: none;
}

.categoryItem_subCategoryItem > .category_item:first-child {
	border-top: 1px solid $secondary;
}

.categoryItem_subCategoryItem {
	margin-right: -4px;
}
