.manufacturesDetailModalContent_informationItem {
	border-bottom: 1px solid lighten($grey, 20%);
	display: flex;
}

.manufacturesDetailModalContent_informationItem:last-child {
	border-bottom: none;
}

.manufacturesDetailModalContent_rowName {
	min-width: 150px;
	max-width: 150px;
}
