.headerText {

}

.headerText_1 {
  font-size: 2em;
}

.headerText_2 {
  font-size: 1.5em;
}

.headerText_3 {
  font-size: 1.17em;
}

.headerText_4 {
  font-size: 1em
}

.headerText_5 {
  font-size: .83em
}

.headerText_6 {
  font-size: .67em
}

.headerText_bold {
  font-weight: 400;
}

.headerText_bolder {
  font-weight: 500;
}

.headerText_ultraBold {
  font-weight: 600;
}
