.mediaProductCategoryItem {
	cursor: pointer;
	margin-bottom: 13px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	position: relative;
}

.mediaProductCategoryItem_name {
	font-weight: 500;
}

.mediaProductCategoryItem_indicator {
	width: 2px;
	height: 100%;
	background-color: $primary;
	position: absolute;
	left: -6px;
}

.mediaProductCategoryItem_button {
	font-size: 12px;

	@include transition(transform .2s)
}

.mediaProductCategoryItem_button__open {
	transform: rotate(90deg);
}

.mediaProductCategoryItem_separatorLine {
	width: 100%;
	height: 1px;
	background-color: $secondary;
	margin-bottom: 13px;
}
