.filtersGroupListItem {
	border-bottom: 1px solid $secondary;
	padding: 12.5px 4px 12.5px 12px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.filtersGroupListItem_left {
	display: flex;
}

.filtersGroupListItem_displayName {
	position: relative;
}

.filtersGroupListItem_displayName_separator {
	margin: 0 4px;
	color: $secondary;
}

.filtersGroupListItem_displayName_iconClassName {
	border-radius: 50%;
	background-color: $fieldIcon;
	font-size: 8px;
	padding: 1px;
	color: $light;
	position: absolute;
	right: -12px;
	top: 0;
}

.filtersGroupListItem_right {
	display: flex;
}

.filtersGroupListItem_addFilterGroupValueButton {
	margin-left: 6px;
}
