.filtersListItem {
	border-bottom: 1px solid $secondary;
	padding: 16px 4px 16px 12px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.filtersListItem_left {
	display: flex;
}

.filtersListItem_displayName {
	position: relative;
}

.filtersListItem_displayName_separator {
	margin: 0 4px;
	color: $secondary;
}

.filtersListItem_displayName_iconClassName {
	border-radius: 50%;
	background-color: $fieldIcon;
	font-size: 8px;
	padding: 1px;
	color: $light;
	position: absolute;
	right: -12px;
	top: 0;
}

.filtersListItem_right {

}
