.margin_tiny {
	margin: 8px;
}

.margin_small {
	margin: 16px;
}

.margin_normal {
	margin: 24px;
}

.margin_large {
	margin: 32px;
}

.margin_ultraVrTiny {
	margin-top: 4px;
	margin-bottom: 4px;
}

.margin_ultraHrTiny {
	margin-left: 4px;
	margin-right: 4px;
}

.margin_ultraTTiny {
	margin-top: 4px;
}

.margin_ultraRTiny {
	margin-right: 4px;
}

.margin_ultraBTiny {
	margin-bottom: 4px;
}

.margin_ultraLTiny {
	margin-left: 4px;
}

.margin_vrTiny {
	margin-top: 8px;
	margin-bottom: 8px;
}

.margin_hrTiny {
	margin-right: 8px;
	margin-left: 8px;
}

.margin_tTiny {
	margin-top: 8px;
}

.margin_rTiny {
	margin-right: 8px;
}

.margin_bTiny {
	margin-bottom: 8px;
}

.margin_lTiny {
	margin-left: 8px;
}

.margin_vrSmall {
	margin-top: 16px;
	margin-bottom: 16px;
}

.margin_hrSmall {
	margin-right: 16px;
	margin-left: 16px;
}

.margin_tSmall {
	margin-top: 16px;
}

.margin_rSmall {
	margin-right: 16px;
}

.margin_bSmall {
	margin-bottom: 16px;
}

.margin_lSmall {
	margin-left: 16px;
}

.margin_vrNormal {
	margin-top: 24px;
	margin-bottom: 24px;
}

.margin_hrNormal {
	margin-left: 24px;
	margin-right: 24px;
}

.margin_tNormal {
	margin-top: 24px;
}

.margin_rNormal {
	margin-right: 24px;
}

.margin_bNormal {
	margin-bottom: 24px;
}

.margin_lNormal {
	margin-left: 24px;
}

.margin_vrLarge {
	margin-top: 32px;
	margin-bottom: 32px;
}

.margin_hrLarge {
	margin-left: 32px;
	margin-right: 32px;
}

.margin_tLarge {
	margin-top: 32px;
}

.margin_rLarge {
	margin-right: 32px;
}

.margin_bLarge {
	margin-bottom: 32px;
}

.margin_lLarge {
	margin-left: 32px;
}
